<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <!-- //slider -->
        <div class="slider-box">
            <div class="blank-space">

            </div>
            <div class="arrow">
                <i class="fa fa-chevron-left" aria-hidden="true" v-for:="(element, index) in petImages" @click="prevImg()"></i>

            </div>
            <div class="main-slider">
                <div class="img-box" v-show="activeImage === index" v-for="(element, index) in petImages">
                    <img :src="element.imgPath" alt="element.description">
                </div>
                <div class="controller">
                    <span class="dot" v-for="(element, index) in petImages" @click="onDotClick(index)" :class="{active: activeImage === index}"></span>
                </div>
            </div>
            <div class="arrow">

                <i class="fa fa-chevron-right" aria-hidden="true" v-for:="(element, index) in petImages" @click="nextImg()" ></i>

            </div>
            <div class="blank-space">

            </div>

        </div>

    </div>
    <script src="script.js"></script>
</body>
</html>